#services {
  i {
    float:left;
    min-width: 90px;
    margin-right: 5px;
  }

  h3 {
    margin-top: 0;
    text-align: left;
    padding-bottom: 5px;
  }

  p {
    margin-bottom: 50px;
    margin-left: 90px;
  }
}
